html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container_row{
  margin: 5rem 1rem;
}
.col_left,.col_right{
  padding: 0 5rem;
}
.loader{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 124%;
}
.loader .spinners{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.loader h4{
  text-align: center;
}
.table-responsive{
  height:70vh
}
@media only screen and (max-width:1024px){
  .container_row{
    margin: 5rem 1rem;
  }
  .col_left,.col_right{
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width:767px){
  .col_left,.col_right{
    padding: 0;
  }
  .table-responsive{
    height:50vh
  }
}